  $main-color: #20ceb6;
  .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid $main-color;
    box-shadow: 0 1px 0 0 $main-color;
  }
  .active-cyan input.form-control[type=text] {
    border-bottom: 1px solid $main-color;
    box-shadow: 0 1px 0 0 $main-color;
  }
  .active-cyan .fa, .active-cyan-2 .fa {
    color: $main-color;
  }

  ::ng-deep .dropdown-item.active, .dropdown-item:active {
    background-color: $main-color!important;
  }

  ::ng-deep .dropdown-menu {
    min-width: 12rem;
  }