<div>
    <app-search-line></app-search-line> 
    <div class="city-weather-container">
        <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
            <div class="curr-weather-container mt-4 ml-5">
                <app-home-curr-weather></app-home-curr-weather>
            </div>
            <div class="add-favorite-container mt-4 mr-5">
                <app-favorite-icon></app-favorite-icon>                
            </div>
        </div>
        <div class="city-weather-grid mb-4 mt-5">
            <app-daily-forecast></app-daily-forecast>
        </div>
    </div>
    
</div>